/* admin.css */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}
.block_border{
    margin-bottom: 20px;
    border: 5px solid seagreen;
}
.info{
    text-align: center;
}
.info ul{
    list-style-type: none;
}
.info li{
    padding-bottom: 30px;
}
form {
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

form h2 {
    margin-top: 0;
    color: #555;
}

label {
    display: block;
    margin: 15px 0 5px;
    color: #333;
}

input[type="text"],
input[type="url"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

select[multiple] {
    height: 120px;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
        width: 90%;
    }

    button {
        width: 100%;
        padding: 12px;
    }
}
